.app {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 1200px;
    background: #343232;
    align-items: center;
    position: fixed;
    margin-top: -80px;
}
.header__search input {
    width: 550px;
    height: 30px;
}

.films-list {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin-top: 80px;
}

.films-list__item {
    overflow: hidden;
    flex-basis: 360px;
    max-width: 380px;
    background: #343232;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid darkgrey;
    border-radius: 10px;
}

.films-list__photo {
    align-self: center;
    flex: 1 1 auto;
    max-height: 600px;
    overflow: hidden;
}

.films-list__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.films-list__title {
    padding-left: 10%;
    padding-bottom: 15px;
    font-size: 1.6rem;
    cursor: pointer;
    width: 90%;
    color: whitesmoke;
}

.films-list__title:hover {
    background-color: whitesmoke;
    color: #343232;
}

.film-list__info {
    padding: 0 10px;
    color: whitesmoke;
}

.entity-item span {
    color: whitesmoke;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 20px;
}

.entity-item span:hover {
    background-color: lightsteelblue;
    color: #343232;
}

.entity-item__list span {
    font-size: 1rem;
    font-weight: 600;
    padding-left: 5px;
}